/* Navbar Section Start */
nav,
header,
#contact {
  padding: 4rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}
.links {
  margin-left: 15rem;
}
.options {
  color: #7f7f7f;
  display: flex;
  margin-left: 2rem;
  font-weight: 500;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav .button {
  background-color: #0160f2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem 1.2rem;
}
/* Navbar Section End */

/* Header Section Start */
header {
  background-color: #6901c7;
  background-image: url(/images/pattern-shapes.png);
}

/* Header-Left Div Start */
.header-left {
  color: #fff;
  text-align: left;
  margin: 10rem 6rem 10rem 0;
}
.small-text {
  display: inline-block;
  color: #6901c7;
  background-color: #e4ddf7;
  font-size: 0.75rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
}
.header-left h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 1rem 0;
  letter-spacing: 0.08rem;
}
.header-left .text {
  color: #b785e5;
  font-size: 1.15rem;
  font-weight: 400;
}
/* Header-Left Div End */

/* Header-Right Div Start */
.header-right {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 95rem;
}
.sign-up {
  background-color: #f8f8f9;
  color: #0160f2;
  padding: 2rem 1rem;
  font-weight: 500;
  border-bottom: #dddee0 1px solid;
}
.inputs {
  color: #7f7f7f;
  font-weight: 400;
  font-size: 0.88rem;
  padding: 1.5rem 1rem;
}
.names {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.first-name input,
.last-name input {
  border: #999ea4 1px solid;
  border-radius: 0.3rem;
  width: 13rem;
  height: 3rem;
  display: inline-block;
}
.email,
.company {
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
}
.email input,
.company input {
  border: #999ea4 1px solid;
  border-radius: 0.3rem;
  width: 100%;
  height: 3rem;
}
.download {
  cursor: pointer;
  background-color: #0160f2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem 1.2rem;
  text-align: center;
}
/* Header Right Div End */
/* Header Section End */

/* Main Section Start */

/* Customers Section Start */
#customers {
  text-align: right;
  color: #d4dae3;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 3rem 12rem;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.product-hunt,
.mail-chimp,
.instagram,
.pinterest,
.dribble {
  height: 3rem;
  width: 9rem;
}
.google {
  width: 10rem;
  height: 6rem;
}
.instagram,
.mail-chimp {
  filter: opacity(50%);
}
.pinterest {
  filter: opacity(30%);
}
/* Customers Section End */

/* About Section Start */
#about {
  background-color: #f2f6fb;
  padding: 4rem 12rem;
}
.about-top {
  display: inline-block;
  width: 40rem;
  margin-bottom: 2rem;
}
.about-top h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.68rem;
  letter-spacing: 0.08rem;
  margin: 0.5rem 0;
}
.p-about {
  color: #999fa8;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.65rem;
}
.about-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box1,
.box2,
.box3,
.box4 {
  background-color: #fff;
  width: 32rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.box1 h3,
.box2 h3,
.box3 h3,
.box4 h3 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.box1 p,
.box2 p,
.box3 p,
.box4 p {
  color: #999fa8;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}
.box1 img,
.box2 img,
.box3 img,
.box4 img {
  width: 2rem;
  height: 2rem;
}
.icon-div {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 .icon-div {
  background-color: #e4ddf7;
}
.box2 .icon-div {
  background-color: #daeeed;
}
.box3 .icon-div {
  background-color: #d9e7fb;
}
.box4 .icon-div {
  background-color: #f1eee3;
}
/* About Section End */

/* Contact Section Start */
#contact {
  border-bottom: 1px #e3e4e5 solid;
}
.contact-left h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.44rem;
  color: #0160f2;
  word-spacing: 0.2rem;
}
.contact-left p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.65rem;
  color: #68707a;
  word-spacing: 0.2rem;
}
.start,
.contact-us {
  padding: 0.9rem 1.2rem;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.88rem;
  cursor: pointer;
}
.start {
  color: #fff;
  background-color: #0160f2;
  border: 1px #0160f2 solid;
}
.contact-us {
  color: #68707a;
  background-color: #fff;
  border: 1px #fff solid;
}
/* Contact Section End */

/* Main Section End */

/* Footer Section Start */
.footer-top {
  display: flex;
  color: #a6aeb8;
  padding: 4rem 12rem;
}
.product,
.technical,
.includes,
.legal {
  margin-left: 6rem;
}
.footer-top h2 {
  margin-bottom: 0.5rem;
}
.footer-top h5 {
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.footer-top a {
  color: #a6aeb8;
  font-weight: 300;
  font-size: 0.9rem;
}
.footer-top li {
  margin-top: 0.5rem;
}
.info img {
  width: 1.3rem;
  margin-top: 1rem;
  margin-right: 0.3rem;
  filter: opacity(40%);
}
.footer-bottom {
  padding: 0 12rem 0 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-content {
  width: 100%;
  padding: 2rem 0;
  border-top: 1px #e3e4e5 solid;
  display: flex;
  justify-content: space-between;
  color: #a6aeb8;
  font-weight: 300;
  font-size: 0.9rem;
}
.bottom-links a {
  color: #a6aeb8;
  font-weight: 300;
  font-size: 0.9rem;
}
/* Footer Section End */
